#ponggame{
    color: lightgreen;
    width: 100%;
    justify-content: left;
    height: auto;
    background-color: black;
}

.container {
    width: 100%;
    overflow: hidden; /* Clear floats */
}

.table{
    background-color: rgb(231, 240, 169);
}
