<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{ url_for('static',filename = 'main.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ output.tableheading}}</title>
</head>
<body>
    <p>
    <form action="/" method = "POST">
        <br> Enter table number: <input type = 'text' name="data1"><br>
        <ul>
            {% for item in output.datasetlist %}
                <li>{{ loop.index - 1 }}: {{ item }}</li>
            {% endfor %}
        </ul>
        <h3>{{ output.tableheading }}</h3>
        {{ output.table | safe }} <br>
        {{ output.probab }}<br>
        <input type = "submit" value="submit"> <br>
    </form>
    </p>
</body>
</html>