{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="display-4 text-center">Login</h4>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="/login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Your Username</label>
                            <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Your Username" autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Your Password</label>
                            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Your Password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember" name="remember">
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block cssimports %}
{% endblock %}