<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{ url_for('static',filename = 'pong.css')}}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
</head>
<body>
    <div id="ponggame">
        <div id="box1">
        b1
        </div>

        <div id="box2">
        b2
        </div>

        <div id="ball">
        b
        </div>
    </div>
    <!-- <div id="gameoverdiv">
        <strong> GAME OVER HEHEHEHEHE </strong> 
     </div> -->
    <script src="{{url_for('static',filename='pong.js')}}"></script>
</body>
</html>