<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{ url_for('static',filename = 'pong.css')}}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
</head>
<body>
    <canvas id ="ponggame" width="600" height="600"> 
    </canvas>

    <button id="NewGameButton">
       New Game 
    </button>

    <table>
        <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in rows %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr>
          {% for header in headergamerecord %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in rowsgamerecord %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    <!-- <div id="gameoverdiv">
        <strong> GAME OVER HEHEHEHEHE </strong> 
     </div> -->
    <script src="{{url_for('static',filename='pong.js')}}"></script>
</body>
</html>